<h1><%= @employee.to_s %> </h1>
    <ul>
        <li><%= @employee.alias %></li>
        <li><%= @employee.title %></li>
        <li><%= @employee.office %></li>
        <img src=<%= @employee.img_url %> alt="Dunder Mifflin Employee"> 
    </ul>